<div class="card">
    <div class="card-header inner-card">
        <h4 class="card-title" id="basic-layout-form">Keywords</h4>
        <a class="heading-elements-toggle">
            <i class="la la-ellipsis-v font-medium-3"></i>
        </a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li>
                    <a href="#ACKeyword" data-toggle="collapse" data-target="#ACKeyword" aria-expanded="false" aria-controls="ACKeyword">
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="card-content  collapse" id="ACKeyword" data-parent="#ListingData">
        <div class="card-body">

            <div class="control-group row">

                <div class="col-md-6">
                    <label>Category</label>
                    <div class="form-group position-relative">
                        <select id="ACLstCategory" name="ACLstCategory" class="form-control" style="width:100%" data-toggle="tooltip" data-trigger="hover" data-placement="top"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>SubCategory</label>
                    <div class="form-group position-relative">
                        <select id="ACLstSubCategory" name="ACLstSubCategory" class="form-control" style="width:100%" data-toggle="tooltip" data-trigger="hover" data-placement="top"></select>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>