<div class="card">
    <div class="card-header inner-card">
        <h4 class="card-title" id="basic-layout-form">Location Information</h4>
        <a class="heading-elements-toggle">
            <i class="la la-ellipsis-v font-medium-3"></i>
        </a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li>
                    <a href="#ACLocationInformation" data-toggle="collapse" data-target="#ACLocationInformation" aria-expanded="false" aria-controls="ACLocationInformation">
                        </a>
                </li>


            </ul>
        </div>
    </div>
    <div class="card-content  collapse" id="ACLocationInformation" data-parent="#ListingData">
        <div class="card-body">
            <div class="form-body">

                <div class="control-group row">
                    <div class="col-md-6">
                        <label>State<span class="text-danger">*</span></label>
                        <div class="form-group position-relative">
                            <select id="ACLstState" name="ACLstState" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top"></select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label>City<span class="text-danger">*</span></label>
                        <div class="form-group position-relative">
                            <select id="ACLstCity" name="ACLstCity" class="form-control" style="width:100%" data-toggle="tooltip" data-trigger="hover" data-placement="top"></select>
                        </div>
                    </div>

                </div>

                <div class="control-group row">

                    <div class="col-md-6">
                        <label>City Area<span class="text-danger">*</span></label>
                        <div class="form-group position-relative">
                            <select id="ACLstCityArea" name="ACLstCityArea" class="form-control" style="width:100%" data-toggle="tooltip" data-trigger="hover" data-placement="top"></select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label>Building Address</label>
                        <div class="form-group position-relative">

                            <input id="ACLstBuildingAddress" name="ACLstBuildingAddress" type="text"  placeholder="Building Address" class="form-control">
                        </div>
                    </div>
                 
                </div>

                <div class="control-group row">

                    <div class="col-md-6">
                        <label>Street Address</label>
                        <div class="form-group position-relative">
                            <input id="ACLstStreetAddress" name="ACLstStreetAddress" type="text" placeholder="Street Address" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label>Land Mark</label>
                        <div class="form-group position-relative">
                            <input id="ACLstLandMark" name="ACLstLandMark" type="text" placeholder="Land Mark" class="form-control">
                        </div>
                    </div>
                    
                </div>

                <div class="control-group row">
                    
                    <div class="col-md-6">
                        <label>Latitude</label>
                        <div class="form-group position-relative">

                            <input id="ACLstLatitude" name="ACLstLatitude" type="text" placeholder="Latitude" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label>Longitude</label>
                        <div class="form-group position-relative">

                            <input id="ACLstLongitude" name="ACLstLongitude" type="text" placeholder="Longitude" class="form-control">
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label>Address<span class="text-danger">*</span></label>
                    <textarea id="ACLstAddress" rows="5" class="form-control" name="ACLstAddress" placeholder="Address"></textarea>
                </div>

            </div>

        </div>
    </div>

</div>