@model IEnumerable<PAKDial.Domains.UserEndViewModel.CompanyListingSocialMedia>


@if (Model.Where(c => c.Name.ToLower() == "youtube").FirstOrDefault() != null)
{
    <li class="footyoutube">
        <a href="http://@Model.Where(c => c.Name.ToLower() == "youtube").FirstOrDefault().SitePath" target="_blank" class="pd-primary-font"><i class="fa fa-youtube-play "></i></a>
    </li>
}
@if (Model.Where(c => c.Name.ToLower() == "twitter").FirstOrDefault() != null)
{
    <li class="foottwitter">
        <a href="http://@Model.Where(c => c.Name.ToLower() == "twitter").FirstOrDefault().SitePath" target="_blank" class="pd-primary-font"><i class="fa fa-twitter "></i></a>
    </li>
}
@if (Model.Where(c => c.Name.ToLower() == "facebook").FirstOrDefault() != null)
{
    <li class="footfb">
        <a href="http://@Model.Where(c => c.Name.ToLower() == "facebook").FirstOrDefault().SitePath" target="_blank" class="pd-primary-font"><i class="fa fa-facebook-f"></i></a>
    </li>
}
@if (Model.Where(c => c.Name.ToLower() == "instagram").FirstOrDefault() != null)
{
    <li class="footinstagram">
        <a href="http://@Model.Where(c => c.Name.ToLower() == "instagram").FirstOrDefault().SitePath" target="_blank" class="pd-primary-font"><i class="fa fa-instagram "></i></a>
    </li>
}
@if (Model.Where(c => c.Name.ToLower() == "linkedln").FirstOrDefault() != null)
{
    <li class="footlinkedin">
        <a href="http://@Model.Where(c => c.Name.ToLower() == "linkedln").FirstOrDefault().SitePath" target="_blank" class="pd-primary-font"><i class="fa fa-linkedin"></i></a>
    </li>
}




