<!-- Main Content -->
<div class="container ">
    <div class="row box-wrapper">
        <div class="col-12">
            <div class="pd-form-title">
                <h2 class="form-title-head">Your Listings </h2>
            </div>
        </div>
        <div class="col-12 add-lst-btn-wrapp">
            <button onclick="location.href='/ClientListing/AddClientCompanyListing'" class="btn btn-primary-lst" type="button" id="AddCompanyListingsModal">Add Listing</button>

        </div>
        <div class="col-12">
            <div class="list-tbl-wrapper table-responsive">

                <table id="ClientCompanyListings" class="list-tbl table table-borderless">
                    <thead class="pd-primary-bg">
                        <tr>
                            <th>Sr #</th>
                            <th>CompanyName</th>
                            <th>Name</th>
                            <th>ListingType</th>
                            <th>Requests</th>
                            <th>UpdatedDate</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                </table>

            </div>
        </div>

    </div>
</div>
<div class="marginDiv"></div>
<!-- End Main Content -->