<div class="tab-pane fade" id="OtherInformation" role="tabpanel" aria-labelledby="contact-tab">
  
    <div class="card-body">
        <!--Company Information-->

        <h6>Other Information</h6>
        @await Html.PartialAsync("~/Views/ClientListing/_ClientAddCompanyTimming.cshtml")
        <hr>
        <h6>Company Information</h6>
        <div class="form-body">

            <div class="form row">
                <input type="hidden" id="UCompProfileId" />
                <div class="form-col col-md-3">
                    <label>Year Of Establishment :</label>
                </div>
                <div class="form-col col-md-3">
                    <input type="Text" class="form-control" id="ACLstYears" placeholder="1995">
                </div>
                <div class="form-col col-md-3">
                    <input type="Text" class="form-control" id="ACLstAnnualTurnover"
                           placeholder="Annual Turnover">
                </div>
                <div class="form-col col-md-3">
                    <select class="form-control" name="no_of_employee" id="ACLstNoEmployee">
                        <option value="">Select No of Employees</option>
                        <option value="Less than 10">Less than 10</option>
                        <option value="10-100">10-100</option>
                        <option value="100-500">100-500</option>
                        <option value="500-1000">500-1000</option>
                        <option value="1000-2000">1000-2000</option>
                        <option value="2000-5000">2000-5000</option>
                        <option value="5000-10000">5000-10000</option>
                        <option value="More than 10000">More than 10000</option>
                    </select>
                </div>
            </div>
            <div class="form row">
                <div class="form-col col-md-3">
                    <label>Professional Associations :</label>
                </div>
                <div class="form-col col-md-9">
                    <input type="Text" class="form-control" id="ACLstProfAss"
                           placeholder="Professional Associations">
                </div>
            </div>
            <div class="form row">
                <div class="form-col col-md-3">
                    <label>Certifications :</label>
                </div>
                <div class="form-col col-md-9">
                    <input type="Text" class="form-control" id="ACLstCertifications"
                           placeholder="Certifications ">
                </div>
            </div>

            <div class="form row">
                <div class="form-col col-md-3">
                    <label>Brief About :</label>
                </div>
                <div class="form-col col-md-9">
                    <textarea type="Text" class="form-control" id="ACLstBreifAbout"
                              placeholder="Brief About "></textarea>
                </div>
            </div>
            <div class="form row">
                <div class="form-col col-md-3">
                    <label>Product And Services :</label>
                </div>
                <div class="form-col col-md-9">
                    <textarea type="Text" class="form-control" id="ACLstProductAndServices"
                              placeholder="Product And Services"></textarea>
                </div>
            </div>
            <div class="form row">
                <div class="form-col col-md-3">
                    <label>Location and Overview :</label>
                </div>
                <div class="form-col col-md-9">
                    <textarea type="Text" class="form-control" id="ACLstLocationOverview"
                              placeholder="Location and Overview  "></textarea>
                </div>
            </div>

            <!-- Payment Modes and Products and Services offered-->
            <hr>
            <h6>Payment Modes and Services offered</h6>
            <div class="form row">
                <div class="form-col col-md-3">
                    <label>Payment Methods :</label>
                </div>
                <div class="form-col col-md-9 position-relative">
                    <select id="ACLstPaymentsModes" name="ACLstPaymentsModes" class="form-control" style="width:100%" data-toggle="tooltip" data-trigger="hover" data-placement="top" multiple="multiple"></select>
                </div>
            </div>
            <div class="form row">
                <div class="form-col col-md-3">
                    <label>Service Type :</label>
                </div>
                 <div class="form-col col-md-9 position-relative">
                    <select id="ACLstServicetypes" name="ACLstServicetypes" class="form-control" style="width:100%" data-toggle="tooltip" data-trigger="hover" data-placement="top" multiple="multiple"></select>
                </div>
            </div>
            <hr />
            <!--bussiness TypesMode-->



            <h6>Business Types</h6>
            <div class="form-row ">
                <div class="form-col col-md-3">
                    <label>Business Type :</label>
                </div>
                <div class="form-col col-md-9 position-relative">
                    <select id="ACLstBusinessTypes" name="ACLstBusinessTypes" class="form-control" style="width:100%" data-toggle="tooltip" data-trigger="hover" data-placement="top" multiple="multiple"></select>
                </div>
            </div>

         
            <!--Social Media-->
            <hr>
            <h6 class="card-title" id="file-repeater">Social Media Links</h6>
            <div class="form-body" id="AddSocialMediaModesIds">
                <!--Adding Social Media Modes Using Jquery-->

            </div>
        </div>
    </div>
</div>