<div class="tab-pane fade" id="LocationInformation" role="tabpanel" aria-labelledby="contact-tab">
    <div class="card-body">
        <h6>Location Information </h6>
        <div class="form-body">

            <div class="control-group row">
                <div class=" col-md-6">
                    <div class="form-col position-relative">
                        <select id="ACLstState" name="ACLstState" class="form-control"style="width:100%"
                                data-toggle="tooltip" data-trigger="hover" data-placement="top"
                                data-original-title="" title=""></select>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-col position-relative">
                        <select id="ACLstCity" name="ACLstCity" class="form-control"
                                style="width:100%" data-toggle="tooltip" data-trigger="hover"
                                data-placement="top" data-original-title="" title="">

                        </select>
                    </div>
                </div>

            </div>

            <div class="control-group row">

                <div class="col-md-6">
                    <div class="form-col position-relative">
                        <select id="ACLstCityArea" name="ACLstCityArea" class="form-control"
                                style="width:100%" data-toggle="tooltip" data-trigger="hover"
                                data-placement="top" data-original-title="" title=""></select>
                        
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-col position-relative">

                        <input id="ACLstBuildingAddress" name="ACLstBuildingAddress" type="text"
                               placeholder="Building Address" class="form-control">
                    </div>
                </div>

            </div>

            <div class="control-group row">

                <div class="col-md-6">
                    <div class="form-col position-relative">
                        <input id="ACLstStreetAddress" name="ACLstStreetAddress" type="text"
                               placeholder="Street Address" class="form-control">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-col position-relative">
                        <input id="ACLstLandMark" name="ACLstLandMark" type="text"
                               placeholder="Land Mark" class="form-control">
                    </div>
                </div>

            </div>

            <div class="control-group row">

                <div class="col-md-6">
                    <div class="form-col position-relative">

                        <input id="ACLstLatitude" name="ACLstLatitude" type="text"
                               placeholder="Latitude" class="form-control">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-col position-relative">

                        <input id="ACLstLongitude" name="ACLstLongitude" type="text"
                               placeholder="Longitude" class="form-control">
                    </div>
                </div>

            </div>

            <div class="form-col">
                <textarea id="ACLstAddress" rows="5" class="form-control" name="ACLstAddress" placeholder="Address"></textarea>
            </div>
        </div>

    </div>
</div>