<div class="row">
    <div class="sidebar-left col-lg-12 col-md-10 col-sm-12">
        <h2 class="text-category">B2B</h2>
    </div>
</div>
<div class="row">
    <div class="sidebar-left col-lg-12 col-md-10 col-sm-12">
        <div class="sidebar ">
            <div class="sidebar-nav">

                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
                <li class="nav-link nav-linkbar"><a href="">Software Developing</a><span class="pd-primary-font">4</span></li>
            </div>
        </div>
    </div>
</div>