
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_LayoutUser1.cshtml";
}
<!-- Header -->
@await Html.PartialAsync("~/Views/Shared/_CommonBottomHeader.cshtml")
<!-- End Header -->
<div class="container-fluid bg-about" style="background-image: url(/PakDial-assets/images/fAbout-Us-Page-Design.png);">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <span class="about-form-title-1">
                    About Us
                </span>
            </div>
        </div>
    </div>

</div>
<div class="container  info-page-box">
    <div class="row">
        <div class="col-3">
            <div class="info-sidebar">
                <ul class="">
                    <li id="abtli" class="active-prnt-li">
                        <a href="" class="active-parent">About Us </a><i class="active-i fa fa-angle-down"></i>
                        <ul id="abs" class="side-sub_nav" style="">
                            <li class=""><a href="/Common/ComingSoon"> Company Overview</a></li>
                            <li class=""><a href="/Common/ComingSoon"> Board Of Directors</a></li>
                            <li class=""><a href="/Common/ComingSoon"> Testimonials</a></li>
                            <li class=""><a href="/Common/ComingSoon"> Share Your Views</a></li>
                            <li class=""><a href="/Common/ComingSoon"> Success Stories</a></li>

                        </ul>
                    </li>
                    <li id="" class="sm-prnt"><a href="/Common/ComingSoon">Media </a><i class="non-active-i fa fa-angle-right"></i></li>
                    <li id="" class="sm-prnt"><a href="/Common/ComingSoon">Market News </a><i class="non-active-i fa fa-angle-right"></i></li>
                    <li id="" class="sm-prnt"><a href="/Common/ComingSoon">Investor Relation </a><i class="non-active-i fa fa-angle-right"></i></li>
                    <li id="" class="sm-prnt"><a href="/Common/ComingSoon">Adds </a> <i class="non-active-i fa fa-angle-right"></i></li>
                    <li id="" class="sm-prnt"><a href="/Common/ComingSoon">Product And Services </a> <i class="non-active-i fa fa-angle-right"></i></li>
                    <li id="" class="sm-prnt"><a href="/Common/ComingSoon">Customer Care </a> <i class="non-active-i fa fa-angle-right"></i></li>
                    <li id="" class="sm-prnt"><a href="/Common/ComingSoon">Career </a> <i class="non-active-i fa fa-angle-right"></i></li>
                    <li id="" class="sm-prnt"><a href="/Common/ComingSoon">Contact Us </a> </li>
                </ul>

            </div>
        </div>
        <div class="col-9">
            <div class="info-wrapper">
                <h1>Pakdial Limited</h1>
                <p>
                    For the first time in Pakistan, an app is equally devoted to all types of business along with providing a
                    comprehensive solution to the consumer base. Pakdial is a contribution to the economy of Pakistan.
                    Through the platform of Pakdial, Small to large enterprises can increase the ratio of its customers.
                    The approach of bringing offline business online for customers has been very popular all around the world.
                    In Pakistan, this concept has to be introduced yet! Pakdial is Pakistan’s first-ever
                    offline to online (O2O) venture that initiates to provide as much stability to the economy as it can by
                    increasing the GDP figures.
                </p>
                <h2>Unlimited Access for Customers</h2>
                <p>
                    Now customers can get all the required information regarding the businesses through this
                    platform conveniently. We assist our users with their daily needs of planning and easy access to
                    millions of products.
                    PakDial is a leading manifesto that links millions of customers with professionals and
                    these professionals with the other enterprises. This organization tends to create an ecosystem of
                    business and customers.
                    Every Bussiness requires exposure, regardless of the scale and level on which they are operating.
                    Pakdial is a platform that is designed to ensure the well-deserved spotlight to all the enterprises
                    in Pakistan!
                </p>
                <h2>Let Your Business Standout</h2>
                <p>
                    This is a golden chance for your enterprise to stand out with the help of Pakdial’s unlimited linking web.
                    Regardless of your business’s scale and category, choose us for getting the well-deserved recognition
                    and accurate exposure.
                </p>
                <h2>Enhanced Digital Presence</h2>
                <p>
                    Pakdial will help your business get the local and global reach, by promoting your services in front
                    of a large consumer base. Your prominent digital presence will serve as a key to achieve high profit,
                    by growing your access to customers and their access to your services.
                </p>
            </div>
        </div>
    </div>
</div>