
@{
    ViewData["Title"] = "ComingSoon";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pakdial - Local Search, Social, News, Videos, Shopping</title>
    <meta name="Title" content="Pakdial - Local Search, Social, News, Videos, Shopping">
    <meta name="description" content="Pakdial, pakistan's local search engine, provides Best Deals, Shop Online, Ticket Booking for Flights, Hotels, Movies, Buses and Cabs. You can also Order Food, Book Restaurant Table, View Menu, Book Doctors’ Appointments. Pakdial curates Social content, News, Videos &amp; more from Top Publishers on all Trending Topics.">
    <meta name="keywords" content="Pakdial, local search, travel, order food, grocery, medicines, online shopping, book tickets, movies, bus, flights, hotels, events, search plus services, local businesses, online yellow pages, pakistan trade directory, city yellow pages, pakistan search engine, Pakdial customer care, customer support">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" asp-append-version="true">

    <link rel="stylesheet" href="~/PakDial-assets/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/PakDial-assets/css/style.css" asp-append-version="true">



</head>
<body>
    <div class="left-com">
        <div class="coming-text">
            <h3>OUR NEW SITE IS</h3>
            <h2 class="pd-primary-font">COMING SOON</h2>
            <h3 class="txt-stay">STAY TUNED!</h3>
            <p>
                Are You Ready To Take<strong> Your Business</strong> To The <strong>Next Level</strong>?
                <br>PakDial's New Website Is <strong>Launching Soon</strong>!
            </p>
        </div>
    </div>
    <div class="right-com"></div>
</body>
</html>