
@{
    ViewData["Title"] = "TermsAndCondition";
    Layout = "~/Views/Shared/_LayoutUser1.cshtml";
}
<!-- Header -->
@await Html.PartialAsync("~/Views/Shared/_CommonBottomHeader.cshtml")
<!-- End Header -->
<div class="container-fluid bg-about" style="background-image: url(/PakDial-assets/images/terms-and-conditions-image.png);">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <span class="about-form-title-1">
                    Terms And Conditions
                </span>
            </div>
        </div>
    </div>

</div>
<div class="container  info-page-box">
    <div class="row">
        <div class="col-3">
            <div class="info-sidebar">
                <ul class="">

                    <li id="" class="term-prnt term-active-li"><a class="term-active" href="">Terms and conditions for Pakdial Search Accessibility For Customers  </a></li>
                    <li id="" class="term-prnt"><a href="/Common/ComingSoon">Terms Of Use for Search Plus Services</a></li>
                    <li id="" class="term-prnt"><a href="/Common/ComingSoon">Terms Of Service for Listing Services </a></li>
                    <li id="" class="term-prnt"><a href="/Common/ComingSoon">Terms & Conditions for Contest</a></li>
                    <li id="" class="term-prnt"><a href="/Common/ComingSoon">Terms & Conditions for PD Omni </a> </li>
                    <li id="" class="term-prnt"><a href="/Common/ComingSoon">Terms & Conditions for PD Pay (Receiver) </a> </li>
                    <li id="" class="term-prnt"><a href="/Common/ComingSoon">Terms & Conditions for PD Pay (Sender) </a> </li>
                    <li id="" class="term-prnt"><a href="/Common/ComingSoon">Terms & Conditions for PDRR CERTIFICATE </a> </li>
                    <li id="" class="term-prnt"><a href="/Common/ComingSoon">Terms of use for PD Social </a> </li>
                </ul>

            </div>
        </div>
        <div class="col-9">
            <div class="info-wrapper">
                <h2>Terms and conditions for Pakdial Search Accessibility For Customers </h2>
                <p class="imp-head">By access or using our website’s portal, you are agreeing to all the terms and conditions of Pakdial and service providers. Please make sure to read all the terms and conditions accordingly. </p>


                <h2>Eligibility Criteria for Membership;</h2>
                <p>
                    Age to get register on Pakdial is 18, through your National identity card no. Under 18 you are considered a minor and you don’t qualify for registration as a user. As a minor, if you want to avail of our portal as a user, please make sure to bring this information under the acknowledgment of your parents or guardians so that you can use their account or membership. PakDial reserves the right to terminate your membership anytime or deny to provide you the access to our website upon finding that you are underage
                    According to the acquiescence with terms of availability, Pakdial gives you nonexclusive yet limited permission to access and use the portals and services.
                </p>
                <h2>Account and Responsibility of the users</h2>
                <p>
                    If you are consuming the services from this website, it is your responsibility to maintain the confidentiality of your username and password. You will be accountable for all the activities performed under the tag of your username. You give Pakdial the right to verify all the wrong or incorrect information provided by you and hence, form a resolution accordingly if those are not according to the terms and conditions presented to you. We own the right to expel, block, or terminate your membership anytime we want from our website and deny your access to the Pakdial website.
                </p>
                <h2>Undertaking at Pakdial Portal</h2>
                <div class="term-point">
                    <p>
                        You need to follow the below regarding your business or deals on Pakdial
                    </p>
                    <p> 1. Pakdial is just a portal to connect the customers and the facility providers to provide the commercial and contractual deals. Pakdial in this state acts as an intermediary, through binding the bridge between the seller and the consumers. This is to enable the users to place the orders/bookings/request through various portals </p>
                    <p>  2. Every deal is offered by the seller to you and it’s an agreement between you and the service provider. This also includes the deal without price fixation, shipping costs, payment methods, payment terms and dates, periods or the mode of delivery, warranties related to products and services and after-sales services regarding products and services. Pakdial will not control, determine, predict, advise or get involved in the deal between the user and the seller. </p>
                    <p> 3. Pakdial will not justify the warranty regarding any vendor as it is a matter between the seller and the customer. All the matter regarding the quality, quantity, value, stability, etc of the products is a matter between a service provider and consumer. Pakdial doesn't support or promote the sale or purchase regarding any products and services on the website. We are only here to build the link between buyer and seller. We don’t accept the allegation regarding the errors in the services and the products on the behalf of any service provider or a third party and even itself.  </p>
                    <p> 4. Every seller is responsible for their own performance and product quality. Pakdial doesn’t take any responsibility for any service or product provider. This is a contract between you and the seller, it has nothing to do with Pakdial. You are provoked to solve your disputes accordingly, Pakdial will not get involved in any dispute between the seller and the customers. Hence we are not responsible for any issue and it’s between you and the seller. </p>
                    <p>  5. Pakdial is not responsible for the products and the payments. Our company will never claim the services offered to you by the seller or the service provider. We are just a platform and a third party and we are not linked with you or the seller. </p>
                    <p>  6. Pakdial is just an intermediary between the seller and the customer to provide the online search engine and the services near you. We are not linked with any seller and our website only provides you the authentic information regarding the service providers in your area. Our platform aims to provide you the best deals and the services near you. All the other matters regarding the seller and the customers have nothing to do with our platform. The connection between you and the seller is strictly bipartite. </p>
                    <p> 7. Pakdial is not responsible for the delayed process of problematic services. We do not take any responsibility for delayed, unavailable or unsatisfactory services. If you face any such problem make sure that you contact the vendor or the service provider directly. </p>
                    <p> 8. Pakdial portal contains the prices which can vary according to the services and the products by the sellers. For the final pricing, we recommend you to recheck and confirm from the service provider before availing it. </p>
                    <p> 9. Due to some technical issues or update process, the prices mentioned may vary. Hereby confirm all the service charges including the shipping or the GST from the seller. </p>
                    <p> 10. If the amount is not paid properly to the seller, then they are not bound to fulfil their services and you need to settle this matter with the seller directly. Pakdial will not participate or take responsibility of this scenario. </p>


                    </p>
                </div>
            </div>
        </div>
    </div>
</div>