<div class="modal fade text-left show" id="DeleteSocialMediaModes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel34" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel34">Are you sure you want to delete Social Media Modes?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="DeleteSocialMediaModes_Submit_Form">
                <div class="modal-body">
                    <input type="hidden" id="DSocialMediaModesId" />
                    <div class="container-fluid bd-example-row">
                    </div>
                </div>
                <div id="DeleteSocialMediaModesShowButtons" class="modal-footer">
                    <button type="reset" class="btn grey btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
                <div id="DeleteSocialMediaModesShowLoader" class="modal-footer" style="display:none">
                    <button class="btn btn-primary" type="button" disabled="">
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        Deleting Results...
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>