@model PAKDial.Domains.UserEndViewModel.CategoryMetasKeywords
<title>@Model.MetaTitle</title>
<meta name="Title" content="@Model.MetaTitle">
<meta name="keywords" content="@Model.MetaKeyword">
<meta name="description" content="@Model.MetaDescription">

