@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Views/Shared/_LayoutAdminLogin.cshtml";

}
<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
    </div>
    <div class="content-body">
        <section class="flexbox-container">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="col-lg-4 col-md-6 col-10 box-shadow-2 p-0">
                    <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                        <div class="card-header border-0">
                            <div class="text-center mb-1">
                                <img src="~/app-assets/images/logo/logo.png" alt="branding logo">
                            </div>
                            <div class="font-large-1  text-center" style="color:#057C55">
                                @ViewData["Title"]
                            </div>
                        </div>
                        <div class="card-content">

                            <div class="card-body">
                                <form asp-action="ResetPassword" method="post" class="form-horizontal" novalidate>
                                    <fieldset class="form-group text-lg-center text-md-center text-sm-center">
                                        <div asp-validation-summary="All" class="text-danger" style="font-weight: bold"></div>
                                    </fieldset>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input asp-for="Email" placeholder="Enter Your Email" class="form-control round">
                                        <div class="form-control-position">
                                            <i class="ft-user"></i>
                                        </div>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </fieldset>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input asp-for="Password" placeholder="Enter Your Password" class="form-control round">
                                        <div class="form-control-position">
                                            <i class="ft-user"></i>
                                        </div>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </fieldset>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input asp-for="ConfirmPassword" placeholder="Enter Your Confirm Password" class="form-control round">
                                        <div class="form-control-position">
                                            <i class="ft-user"></i>
                                        </div>
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </fieldset>
                                    <div class="form-group text-center">
                                        <button type="submit" class="btn round btn-block btn-glow btn-bg-gradient-x-custom-green col-12 mr-1 mb-1" style="color:#fff">RESET PASSWORD</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


