<div class="modal fade" id="ClientSignUpModel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content login-popup popup-signup-content">
            <div class="modal-body pd-popup-body popup-signup-body">
                <div class="container">
                    <div class="row">
                        @*<div class="col-lg-4 col-md-3 col-4 login-logo">
            <img src="~/PakDial-assets/images/logo-popup.png" class="login-logo-title" asp-append-version="true">
        </div>*@
                        <div class="col-lg-4 col-md-3 col-4 login-logo">
                            <div class="popside-wrap">
                                <img src="~/PakDial-assets/images/pop1.png" class="login-logo-title">
                                <span class="">Tell us what you need by filling the form</span>
                            </div>
                            <div class="popside-wrap">
                                <img src="~/PakDial-assets/images/pop2.png" class="login-logo-title">
                                <span class="">Receive Verified supplier details by SMS</span>
                            </div>
                            <div class="popside-wrap">
                                <img src="~/PakDial-assets/images/pop3.png" class="login-logo-title">
                                <span class="">Compare Quotations andseal the deal</span>
                            </div>

                        </div>
                        <div class="col-lg-8 col-md-9 col-8 login-btn">
                            <h6 class="login-head-title">Sign Up</h6>
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <span id="SignUpSpan" name="SignUpSpan" style="display:none;"></span>
                            <form id="ClientSignUp_Submit" name="ClientSignUp_Submit">
                                <div class="row form-col">
                                    <div class="col-12 form-col-space">
                                        <input type="text" class="form-control" id="ClientSignUpFirstName" name="ClientSignUpFirstName" placeholder="Name*">
                                    </div>
                                </div>
                                <div class="row form-col">
                                    <div class="col-12 form-col-space">
                                        <input type="text" class="form-control" id="ClientSignUpEmail" name="ClientSignUpEmail" placeholder="Email*">
                                    </div>
                                </div>

                                <div class="row form-col">
                                    <div class="col-12">
                                        <input id="ClientSignUpMobile" name="ClientSignUpMobile" class="form-control" placeholder="Mobile No*" maxlength="11">
                                    </div>
                                </div>
                                <div class="row form-col">
                                    <div class="col-12 form-col-space">
                                        <input id="ClientSignUpPassword" name="ClientSignUpPassword" style="-webkit-text-security: disc;" class="form-control" placeholder="Password*" autocomplete="off">
                                    </div>
                                </div>
                                <div class="row form-col">
                                    <div class="col-12">
                                        <label class="remember-checkbox">
                                            <input type="checkbox" name="ClientSignUpConcent" id="ClientSignUpConcent" checked>
                                            I agree to <a href="/Common/TermsAndCondition" target="_blank"> terms </a>  and <a href="/Common/TermsAndCondition" target="_blank"> privacy policy. </a>
                                        </label>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary-lst">Sign Up</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                </div>
            </div>
    </div>
</div>