<!-- forgot popup -->
<div class="modal fade show" id="ClientforgotModal" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content login-popup">
            <div class="modal-body pd-popup-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-4 login-logo">
                            <img src="~/PakDial-assets/images/popup-logo.png" class="login-logo-title" asp-append-version="true">
                        </div>
                        <div class="col-lg-8 col-md-8 col-8 login-btn">
                            <h6 class="login-head-title">Reset Password</h6>
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <p>Enter your email address &amp; we'll send you a link to reset your password</p>
                            <span id="ClientConfirmMsg" class="text-primary">Please check your email to reset your password.</span>
                            <form id="ClientforgotModal_Submit" name="ClientforgotModal_Submit">
                                <div class="col form-col">
                                    <input type="text" class="form-control" id="ClientForgotEmail" name="ClientForgotEmail" placeholder="Email">
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary-lst">Reset Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end forgot popup -->