<div>
    <div class="calpop1">
        <div class="calwpr1 dt">
            <div class="tbcalWpr"></div>
            <ul class="calnbrwp">
                <li>
                    <span class="icnwdt"><i class="fa fa-envelope pd-primary-font"></i></span>
                    <span class="sharepopupcell font15">@ViewData["MEmail"]</span>
                </li>
            </ul>
        </div>
        <span class="cancelbtn dt" id="btn-modal-cancel" onclick="Hide()">Cancel</span>
    </div>
</div>