<div class="modal fade open-review show" id="Modalreview">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content login-popup">
            <div class="modal-body pd-popup-body">
                <div class="container">
                    <div class="row">
                        @*<div class="col-lg-3 col-md-4 col-4 login-logo">
            <img src="/PakDial-assets/images/popup-logo.png" class="login-logo-title" asp-append-version="true">
        </div>*@
                        <div class="col-lg-4 col-md-3 col-4 login-logo">
                            <div class="popside-wrap">
                                <img src="~/PakDial-assets/images/pop1.png" class="login-logo-title">
                                <span class="">Tell us what you need by filling the form</span>
                            </div>
                            <div class="popside-wrap">
                                <img src="~/PakDial-assets/images/pop2.png" class="login-logo-title">
                                <span class="">Receive Verified supplier details by SMS</span>
                            </div>
                            <div class="popside-wrap">
                                <img src="~/PakDial-assets/images/pop3.png" class="login-logo-title">
                                <span class="">Compare Quotations andseal the deal</span>
                            </div>

                        </div>
                        <div class="col-lg-8 col-md-8 col-8 review-popup-text">
                            <h5 class="login-head-title"> Review Guidelines</h5>
                            <button type="button" class="close" data-dismiss="modal">  ×</button>
                            <div class="row mt-4">
                                <div class="col-12">
                                    <p>
                                        <strong>Your review/ feedback will be published on Pakdial.com however,</strong>
                                    </p>

                                    <p>
                                        <span class="contact-popup-info">
                                            <i class="fa fa-circle"></i>
                                            Your review will help vendor’s to improve the quality of their products and services.
                                        </span>
                                    </p>
                                    <p>
                                        <span class="contact-popup-info">
                                            <i class="fa fa-circle"></i>
                                            Pakdial reserves the right to approve or refuse the given review.
                                        </span>
                                    </p>
                                    <p>
                                        <span class="contact-popup-info">
                                            <i class="fa fa-circle"></i>
                                            This feedback is a matter between the vendor and the customer.
                                        </span>
                                    </p>
                                    <p>
                                        <span class="contact-popup-info">
                                            <i class="fa fa-circle"></i>
                                            Pakdial does not take any responsibility for these published reviews.
                                        </span>
                                    </p>
                                    <p>
                                        <span class="contact-popup-info">
                                            <i class="fa fa-circle"></i>
                                            Your review will help new visitors to choose the best quality products and services through Pakdial.
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
            </div>
        </div>
    </div>
</div>

