<div class="modal fade review-submit" id="RatingOtpModel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content login-popup">
            <div class="modal-body pd-popup-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-4 login-logo">
                            <img src="~/PakDial-assets/images/popup-logo.png" class="login-logo-title" asp-append-version="true">

                        </div>
                        <div class="col-lg-8 col-md-8 col-8">
                            <h6 class="login-head-title submit-title">Please Enter the Four digit code</h6>
                            <button type="button" class="close submit-close" data-dismiss="modal">×</button>
                            <form id="RatingOtp_Submit" name="RatingOtp_Submit">
                                <input type="hidden" id="RatingId" />
                                <div class="col form-col">
                                    <input type="text" class="form-control" id="RatingOtp" name="RatingOtp" placeholder="Enter Code">
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary-lst">VERIFY</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>