@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!-- Header -->
@await Html.PartialAsync("~/Views/Shared/_CommonBottomHeader.cshtml")
<!-- End Header -->
<div class="container ">
    <div class="row">
        <div class="col-12">
            <div class="box-wrapper password-wrapper">
                <div class="password-box">
                    <img src="~/PakDial-assets/images/tick.png" asp-append-version="true">
                    <h3>Registration Completed!</h3>
                    <p>Please Confirm Your Email to Activate Your Account</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="marginDiv"></div>