@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

}
<!-- Header -->
@await Html.PartialAsync("~/Views/Shared/_CommonBottomHeader.cshtml")
<!-- End Header -->
<div class="container ">
    <div class="row">
        <div class="col-12">
            <div class="box-wrapper reset-password-wrapper">
                <div class="row">
                    <div class="col-lg-4 col-md-5 col-12">
                        <div class="user-image-box">
                            <a href="~/"><img src="~/PakDial-assets/images/user-login.png" asp-append-version="true"></a>
                         </div>
                    </div>
                    <div class="col-lg-8 col-md-7 col-12 reset-form-box">
                        <div class="pd-form-title">
                            <h2 class="form-title-head">Reset Password</h2>
                        </div>
                        <div class="form-wrapper">
                            <form method="post">
                                <input asp-for="Code" type="hidden" />
                                <div class="row">
                                    <div class="col form-col">
                                        <input asp-for="Email" class="form-control" placeholder="Email" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-col">
                                        <input asp-for="Password" class="form-control" placeholder="Password" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-col">
                                        <input asp-for="ConfirmPassword" class="form-control" placeholder="ConfirmPassword" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <button type="submit" class="edit-listing btn-primary-lst btn-submit">Reset Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="marginDiv"></div>
