@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- Header -->
@await Html.PartialAsync("~/Views/Shared/_CommonBottomHeader.cshtml")
<!-- End Header -->
<div class="container ">
    <div class="row">
        <div class="col-12">
            <div class="box-wrapper password-wrapper">
                <div class="password-box">
                    <img src="~/PakDial-assets/images/tick.png" asp-append-version="true">
                    <h3>Password Changed!</h3>
                    <p>Your password has been reset. Please <a href="/Home/Login">Click here to Login</a></p>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="marginDiv"></div>



