@*Total Orders*@
<div class="row">
    <div class="col-md-4 col-12">
        <div class="card pull-up bg-gradient-directional-teller">
            <div class="card-header bg-hexagons-teller">
                <h4 class="card-title white">Total Employee</h4>
            </div>
            <div class="card-content collapse show bg-hexagons-teller">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center width-100">
                            <div id="Analytics-donut-chart" class="height-100 donutShadow"></div>
                        </div>
                        <div class="media-body text-right mt-1">
                            <h3 class="font-large-2 white" id="GDbTotalEmployee">0</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card pull-up bg-gradient-directional-teller">
            <div class="card-header bg-hexagons-teller">
                <h4 class="card-title white">Total Customer</h4>
            </div>
            <div class="card-content collapse show bg-hexagons-teller">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center width-100">
                            <div id="Analytics-donut-chart" class="height-100 donutShadow"></div>
                        </div>
                        <div class="media-body text-right mt-1">
                            <h3 class="font-large-2 white" id="GDbTotalCustomer">0</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-4 col-12">
        <div class="card pull-up bg-gradient-directional-teller">
            <div class="card-header bg-hexagons-teller">
                <h4 class="card-title white">Total Listings</h4>
            </div>
            <div class="card-content collapse show bg-hexagons-teller">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center width-100">
                            <div id="Analytics-donut-chart" class="height-100 donutShadow"></div>
                        </div>
                        <div class="media-body text-right mt-1">
                            <h3 class="font-large-2 white" id="GDbTotalListings">0</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
