@*Total Orders*@
<div class="row">

    <div class="col-md-4 col-12">
        <div class="card pull-up bg-gradient-directional-teller">
            <div class="card-header bg-hexagons-teller">
                <h4 class="card-title white">Online Users</h4>
            </div>
            <div class="card-content collapse show bg-hexagons-teller">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center width-100">
                            <div id="Analytics-donut-chart" class="height-100 donutShadow"></div>
                        </div>
                        <div class="media-body text-right mt-1">
                            <h3 class="font-large-2 white" id="ADbOnlineUsers">0</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card pull-up bg-gradient-directional-teller">
            <div class="card-header bg-hexagons-teller">
                <h4 class="card-title white">Total Employee</h4>
            </div>
            <div class="card-content collapse show bg-hexagons-teller">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center width-100">
                            <div id="Analytics-donut-chart" class="height-100 donutShadow"></div>
                        </div>
                        <div class="media-body text-right mt-1">
                            <h3 class="font-large-2 white" id="ADbTotalEmployee">0</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card pull-up bg-gradient-directional-teller">
            <div class="card-header bg-hexagons-teller">
                <h4 class="card-title white">Total Customer</h4>
            </div>
            <div class="card-content collapse show bg-hexagons-teller">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center width-100">
                            <div id="Analytics-donut-chart" class="height-100 donutShadow"></div>
                        </div>
                        <div class="media-body text-right mt-1">
                            <h3 class="font-large-2 white" id="ADbTotalCustomer">0</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-4 col-12">
        <div class="card pull-up bg-gradient-directional-teller">
            <div class="card-header bg-hexagons-teller">
                <h4 class="card-title white">Total Listings</h4>
            </div>
            <div class="card-content collapse show bg-hexagons-teller">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center width-100">
                            <div id="Analytics-donut-chart" class="height-100 donutShadow"></div>
                        </div>
                        <div class="media-body text-right mt-1">
                            <h3 class="font-large-2 white" id="ADbTotalListings">0</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card pull-up bg-gradient-directional-teller">
            <div class="card-header bg-hexagons-teller">
                <h4 class="card-title white">Total Orders</h4>
            </div>
            <div class="card-content collapse show bg-hexagons-teller">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center width-100">
                            <div id="Analytics-donut-chart" class="height-100 donutShadow"></div>
                        </div>
                        <div class="media-body text-right mt-1">
                            <h3 class="font-large-2 white" id="ADbTotalOrder">0</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card pull-up bg-gradient-directional-teller">
            <div class="card-header bg-hexagons-teller">
                <h4 class="card-title white">Total Approved</h4>
            </div>
            <div class="card-content collapse show bg-hexagons-teller">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center width-100">
                            <div id="Analytics-donut-chart" class="height-100 donutShadow"></div>
                        </div>
                        <div class="media-body text-right mt-1">
                            <h3 class="font-large-2 white" id="ADbTotalApproved">0</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-12">
        <div class="card pull-up bg-gradient-directional-teller">
            <div class="card-header bg-hexagons-teller">
                <h4 class="card-title white">Total Revenue</h4>
            </div>
            <div class="card-content collapse show bg-hexagons-teller">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center width-100">
                            <div id="Analytics-donut-chart" class="height-100 donutShadow"></div>
                        </div>
                        <div class="media-body text-right mt-1">
                            <h3 class="font-large-2 white" id="ADbTotalRevenue">0</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*yearly wise Order*@
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Yearly Orders Bar Chart</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <div class="height-400">
                        <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
                                </div>
                            </div>
                            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:200%;height:200%;left:0; top:0">
                                </div>
                            </div>
                        </div>
                        <canvas id="YOcolumn-chart" width="1539" height="400" class="chartjs-render-monitor" style="display: block; width: 1539px; height: 400px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*yearly wise Order*@
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Yearly Revenue Bar Chart</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <div class="height-400">
                        <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
                                </div>
                            </div>
                            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:200%;height:200%;left:0; top:0">
                                </div>
                            </div>
                        </div>
                        <canvas id="YRcolumn-chart" width="1539" height="400" class="chartjs-render-monitor" style="display: block; width: 1539px; height: 400px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>