<div class="row">

    <div class="col-md-4 col-12">
        <div class="card pull-up bg-gradient-directional-teller">
            <div class="card-header bg-hexagons-teller">
                <h4 class="card-title white">Total Orders</h4>
            </div>
            <div class="card-content collapse show bg-hexagons-teller">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center width-100">
                            <div id="Analytics-donut-chart" class="height-100 donutShadow"></div>
                        </div>
                        <div class="media-body text-right mt-1">
                            <h3 class="font-large-2 white" id="ADbTellerTotal">0</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card pull-up bg-gradient-directional-teller">
            <div class="card-header bg-hexagons-teller">
                <h4 class="card-title white">Yearly Orders</h4>
            </div>
            <div class="card-content collapse show bg-hexagons-teller">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center width-100">
                            <div id="Analytics-donut-chart" class="height-100 donutShadow"></div>
                        </div>
                        <div class="media-body text-right mt-1">
                            <h3 class="font-large-2 white" id="ADbTellerYearTotal">0</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card pull-up bg-gradient-directional-teller">
            <div class="card-header bg-hexagons-teller">
                <h4 class="card-title white">Monthly Orders</h4>
            </div>
            <div class="card-content collapse show bg-hexagons-teller">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center width-100">
                            <div id="Analytics-donut-chart" class="height-100 donutShadow"></div>
                        </div>
                        <div class="media-body text-right mt-1">
                            <h3 class="font-large-2 white" id="ADbTellerMontlyTotal">0</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-4 col-12">
        <div class="card pull-up bg-gradient-directional-teller">
            <div class="card-header bg-hexagons-teller">
                <h4 class="card-title white">Weekly Orders</h4>
            </div>
            <div class="card-content collapse show bg-hexagons-teller">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center width-100">
                            <div id="Analytics-donut-chart" class="height-100 donutShadow"></div>
                        </div>
                        <div class="media-body text-right mt-1">
                            <h3 class="font-large-2 white" id="ADbTellerWeeklyTotal">0</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card pull-up bg-gradient-directional-teller">
            <div class="card-header bg-hexagons-teller">
                <h4 class="card-title white">Daily Orders</h4>
            </div>
            <div class="card-content collapse show bg-hexagons-teller">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center width-100">
                            <div id="Analytics-donut-chart" class="height-100 donutShadow"></div>
                        </div>
                        <div class="media-body text-right mt-1">
                            <h3 class="font-large-2 white" id="ADbTellerDailyTotal">0</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>