<div class="modal fade text-left show" id="AddMMainCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel34" aria-modal="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel34">Create Main Category</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="MMainCategory_Submit_Form">
                <div class="form-body">
                    <div class="card">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <div class="form-body">
                                    <fieldset>
                                        <div class="control-group row">
                                            <div class="col-md-6">
                                                <div class="form-group position-relative">
                                                    <label>CategoryType:</label>
                                                    <select id="AMCCategoryTypeId" name="AMCCategoryTypeId" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group position-relative">
                                                    <label>Name:</label>
                                                    <input id="AMCName" name="AMCName" type="text" placeholder="Main Category Name" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group row">
                                            <div class="col-md-12">
                                                <div class="form-group position-relative">
                                                    <label>Description</label>
                                                    <textarea id="AMCDescription" name="AMCDescription" type="text" placeholder="Description" class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group row">
                                            <div class="col-md-12">
                                                <div class="form-group position-relative">
                                                    <label>Meta Title</label>
                                                    <input id="AMetaTitle" name="AMetaTitle" type="text" placeholder="Meta Title" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group row">
                                            <div class="col-md-12">
                                                <div class="form-group position-relative">
                                                    <label>Meta Keyword</label>
                                                    <textarea id="AMetaKeyword" name="AMetaKeyword" type="text" placeholder="Meta Keyword" class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group row">
                                            <div class="col-md-12">
                                                <div class="form-group position-relative">
                                                    <label>Meta Description</label>
                                                    <textarea id="AMetaDescription" name="AMetaDescription" type="text" placeholder="Meta Description" class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group row">
                                            <div class="col-md-6">
                                                <div class="form-group position-relative">
                                                    <img id="AWebIconImagetarget" class="border border-primary img-thumbnail" style="width: 362px;height: 158px;">
                                                    <label>Web Icon<span class="text-danger"></span></label>
                                                    <input class="form-control upload" type="file" accept="image/*" id="AWebIconImage">

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group position-relative">
                                                    <img id="AMobileIconImagetarget" class="border border-primary img-thumbnail" style="width: 362px;height: 158px;">
                                                    <label>Mobile Icon<span class="text-danger"></span></label>
                                                    <input class="form-control upload" type="file" accept="image/*" id="AMobileIconImage">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="control-group row">
                                            <div class="col-md-6">
                                                <div class="form-group position-relative">
                                                    <img id="AMCtargetBanner" class="border border-primary img-thumbnail" style="width: 362px;height: 158px;">
                                                    <label>Banner Image<span class="text-danger"></span></label>
                                                    <input class="form-control upload" type="file" accept="image/*" id="AimageBannerfiles">

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group position-relative">
                                                    <img id="AMCtargetFeature" class="border border-primary img-thumbnail" style="width: 362px;height: 158px;">
                                                    <label>Feature Image<span class="text-danger"></span></label>
                                                    <input class="form-control upload" type="file" accept="image/*" id="AimageFeaturefiles">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="AddMMainCategoryShowButtons" class="modal-footer">
                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                    <div id="AddMMainCategoryShowLoader" class="modal-footer" style="display:none">
                        <button class="btn btn-primary" type="button" disabled="">
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            Results Saving...
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



