@model PAKDial.Domains.UserEndViewModel.AdminBarModel

@if (Model.UserTypeId == 1)
{
    <div class="adminbar">
        <div class="container">
            <h4 class="admin-title"><a href="~/Account/Login">Employee Administrator</a></h4>
        </div>
    </div>
}

