@model IEnumerable<PAKDial.Domains.DomainModels.ListingGallery>
<div class="profile-tabs box-wrapper" id="Products">
    <div class="row">
        <div class="col-12">
            <h3 class="profile-head-text">Gallery</h3>
        </div>
    </div>

    <div class="row ">
        @if (Model.Count() > 0 && Model != null)
        {
            @foreach (var item in Model)
            {
                <div class="gallery-box">
                    @*<img src="@item.UploadDir" class="img-thumbnail">*@
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="@item.UploadDir" data-target="#image-gallery">
                        <img class="img-thumbnail" src="@item.UploadDir" alt="" asp-append-version="true">
                    </a>
                </div>
            }
        }
        else
        {

            <div class="gallery-box">
                <img src="/app-assets/images/portrait/small/avatar-s-19.jpg" asp-append-version="true">
            </div>
        }

        <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="image-gallery-image" class="img-responsive col-md-12" src="" asp-append-version="true">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary float-left" id="show-previous-image">
                            <i class="fa fa-arrow-left"></i>
                        </button>

                        <button type="button" id="show-next-image" class="btn btn-secondary float-right">
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>     

    </div>

    @*<a href="#" id="loadMore">Load More</a>
    <br />*@
</div>
